USE [ControleDePeso]
GO
/****** Object:  Table [dbo].[PesoHistorico]    Script Date: 13/02/2024 13:11:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PesoHistorico](
	[Peso] [decimal](18, 2) NOT NULL,
	[DataDoRegistro] [date] NOT NULL
) ON [PRIMARY]
GO
INSERT [dbo].[PesoHistorico] ([Peso], [DataDoRegistro]) VALUES (CAST(125.00 AS Decimal(18, 2)), CAST(N'2020-09-26' AS Date))
INSERT [dbo].[PesoHistorico] ([Peso], [DataDoRegistro]) VALUES (CAST(123.00 AS Decimal(18, 2)), CAST(N'2020-10-05' AS Date))
INSERT [dbo].[PesoHistorico] ([Peso], [DataDoRegistro]) VALUES (CAST(120.00 AS Decimal(18, 2)), CAST(N'2020-10-23' AS Date))
GO
