USE [ControleDeVida]
GO
/****** Object:  Table [dbo].[ControleDePeso]    Script Date: 09/05/2023 15:59:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ControleDePeso](
	[Peso] [decimal](18, 2) NOT NULL,
	[DataDoRegistro] [date] NOT NULL
) ON [PRIMARY]
GO
INSERT [dbo].[ControleDePeso] ([Peso], [DataDoRegistro]) VALUES (CAST(125.00 AS Decimal(18, 2)), CAST(N'2020-09-26' AS Date))
INSERT [dbo].[ControleDePeso] ([Peso], [DataDoRegistro]) VALUES (CAST(123.00 AS Decimal(18, 2)), CAST(N'2020-10-05' AS Date))
INSERT [dbo].[ControleDePeso] ([Peso], [DataDoRegistro]) VALUES (CAST(120.00 AS Decimal(18, 2)), CAST(N'2020-10-23' AS Date))
GO
