USE [ControleDeVida]
GO
/****** Object:  Table [dbo].[ControleDeCaminhada]    Script Date: 08/04/2023 18:20:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ControleDeCaminhada](
	[Passos] [int] NOT NULL,
	[DataDoRegistro] [date] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ControleDePeso]    Script Date: 08/04/2023 18:20:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ControleDePeso](
	[Peso] [decimal](18, 2) NOT NULL,
	[DataDoRegistro] [date] NOT NULL
) ON [PRIMARY]
GO
INSERT [dbo].[ControleDeCaminhada] ([Passos], [DataDoRegistro]) VALUES (4868, CAST(N'2023-01-05' AS Date))
INSERT [dbo].[ControleDeCaminhada] ([Passos], [DataDoRegistro]) VALUES (4261, CAST(N'2023-01-04' AS Date))
INSERT [dbo].[ControleDeCaminhada] ([Passos], [DataDoRegistro]) VALUES (2313, CAST(N'2023-01-03' AS Date))
GO
INSERT [dbo].[ControleDePeso] ([Peso], [DataDoRegistro]) VALUES (CAST(125.00 AS Decimal(18, 2)), CAST(N'2020-09-26' AS Date))
INSERT [dbo].[ControleDePeso] ([Peso], [DataDoRegistro]) VALUES (CAST(123.00 AS Decimal(18, 2)), CAST(N'2020-10-05' AS Date))
INSERT [dbo].[ControleDePeso] ([Peso], [DataDoRegistro]) VALUES (CAST(120.00 AS Decimal(18, 2)), CAST(N'2020-10-23' AS Date))
GO
