USE [master]
GO
/****** Object:  Database [ControleDePeso]    Script Date: 24/05/2025 02:05:25 ******/
CREATE DATABASE [ControleDePeso]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ControleDaSaude', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\ControleDaSaude.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ControleDaSaude_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\ControleDaSaude_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ControleDePeso].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ControleDePeso]
GO
/****** Object:  Table [dbo].[PassosHistorico]    Script Date: 24/05/2025 02:05:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PassosHistorico](
	[Passos] [int] NOT NULL,
	[DataDoRegistro] [date] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PesoHistorico]    Script Date: 24/05/2025 02:05:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PesoHistorico](
	[Peso] [decimal](18, 2) NOT NULL,
	[DataDoRegistro] [date] NOT NULL
) ON [PRIMARY]
GO
INSERT [dbo].[PassosHistorico] ([Passos], [DataDoRegistro]) VALUES (5006, CAST(N'2024-08-17' AS Date))
INSERT [dbo].[PassosHistorico] ([Passos], [DataDoRegistro]) VALUES (815, CAST(N'2024-07-01' AS Date))
INSERT [dbo].[PassosHistorico] ([Passos], [DataDoRegistro]) VALUES (2159, CAST(N'2024-07-02' AS Date))
GO
INSERT [dbo].[PesoHistorico] ([Peso], [DataDoRegistro]) VALUES (CAST(125.00 AS Decimal(18, 2)), CAST(N'2020-09-26' AS Date))
INSERT [dbo].[PesoHistorico] ([Peso], [DataDoRegistro]) VALUES (CAST(123.00 AS Decimal(18, 2)), CAST(N'2020-10-05' AS Date))
INSERT [dbo].[PesoHistorico] ([Peso], [DataDoRegistro]) VALUES (CAST(120.00 AS Decimal(18, 2)), CAST(N'2020-10-23' AS Date))
GO
USE [master]
GO
